BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 3012948a3077

CREATE TABLE users (
    id SERIAL NOT NULL, 
    full_name VARCHAR(100) NOT NULL, 
    email VARCHAR(120) NOT NULL, 
    password VARCHAR(255) NOT NULL, 
    role VARCHAR(50), 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (email)
);

INSERT INTO alembic_version (version_num) VALUES ('3012948a3077') RETURNING alembic_version.version_num;

-- Running upgrade 3012948a3077 -> 76f0b6649c99

CREATE TABLE consultation_types (
    id SERIAL NOT NULL, 
    name VARCHAR(50) NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE TABLE expertise (
    id SERIAL NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE TABLE languages (
    id SERIAL NOT NULL, 
    name VARCHAR(50) NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE TABLE specialties (
    id SERIAL NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    description TEXT, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE TABLE token_blocklist (
    id SERIAL NOT NULL, 
    jti VARCHAR(255) NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (jti)
);

CREATE TABLE doctors (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    specialty_id INTEGER NOT NULL, 
    about TEXT, 
    education TEXT, 
    experience_years INTEGER NOT NULL, 
    consultation_fee NUMERIC(10, 2) NOT NULL, 
    average_rating NUMERIC(3, 2), 
    reviews_count INTEGER, 
    is_available_today BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(specialty_id) REFERENCES specialties (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    UNIQUE (user_id)
);

CREATE TABLE doctor_consultation_types (
    doctor_id INTEGER NOT NULL, 
    consultation_type_id INTEGER NOT NULL, 
    PRIMARY KEY (doctor_id, consultation_type_id), 
    FOREIGN KEY(consultation_type_id) REFERENCES consultation_types (id), 
    FOREIGN KEY(doctor_id) REFERENCES doctors (id)
);

CREATE TABLE doctor_expertise (
    doctor_id INTEGER NOT NULL, 
    expertise_id INTEGER NOT NULL, 
    PRIMARY KEY (doctor_id, expertise_id), 
    FOREIGN KEY(doctor_id) REFERENCES doctors (id), 
    FOREIGN KEY(expertise_id) REFERENCES expertise (id)
);

CREATE TABLE doctor_languages (
    doctor_id INTEGER NOT NULL, 
    language_id INTEGER NOT NULL, 
    PRIMARY KEY (doctor_id, language_id), 
    FOREIGN KEY(doctor_id) REFERENCES doctors (id), 
    FOREIGN KEY(language_id) REFERENCES languages (id)
);

UPDATE alembic_version SET version_num='76f0b6649c99' WHERE alembic_version.version_num = '3012948a3077';

-- Running upgrade 76f0b6649c99 -> e1505041b198

CREATE TABLE quick_reliefs (
    id SERIAL NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    slug VARCHAR(100) NOT NULL, 
    title VARCHAR(150) NOT NULL, 
    subtitle VARCHAR(255), 
    icon_name VARCHAR(100), 
    icon_url VARCHAR(500), 
    background_color VARCHAR(20), 
    text_color VARCHAR(20), 
    description TEXT, 
    sort_order INTEGER, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (slug)
);

UPDATE alembic_version SET version_num='e1505041b198' WHERE alembic_version.version_num = '76f0b6649c99';

-- Running upgrade e1505041b198 -> 002e423e11b1

CREATE TABLE awards (
    id SERIAL NOT NULL, 
    doctor_id INTEGER NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    issuer VARCHAR(255), 
    year INTEGER, 
    description TEXT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(doctor_id) REFERENCES doctors (id)
);

CREATE TABLE clinics (
    id SERIAL NOT NULL, 
    doctor_id INTEGER NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    address TEXT NOT NULL, 
    city VARCHAR(100) NOT NULL, 
    latitude FLOAT, 
    longitude FLOAT, 
    phone VARCHAR(20), 
    is_primary BOOLEAN, 
    PRIMARY KEY (id), 
    FOREIGN KEY(doctor_id) REFERENCES doctors (id)
);

CREATE TABLE doctor_availability (
    id SERIAL NOT NULL, 
    doctor_id INTEGER NOT NULL, 
    day_of_week VARCHAR(10), 
    start_time TIME WITHOUT TIME ZONE NOT NULL, 
    end_time TIME WITHOUT TIME ZONE NOT NULL, 
    slot_duration_minutes INTEGER, 
    is_available BOOLEAN, 
    PRIMARY KEY (id), 
    FOREIGN KEY(doctor_id) REFERENCES doctors (id)
);

ALTER TABLE users ADD COLUMN avatar_url VARCHAR(500);

UPDATE alembic_version SET version_num='002e423e11b1' WHERE alembic_version.version_num = 'e1505041b198';

-- Running upgrade 002e423e11b1 -> f3a9c2d41b07

CREATE TABLE appointments (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    doctor_id INTEGER NOT NULL, 
    consultation_type_id INTEGER, 
    visit_type VARCHAR(20) NOT NULL, 
    date DATE NOT NULL, 
    slot_start TIME WITHOUT TIME ZONE NOT NULL, 
    slot_end TIME WITHOUT TIME ZONE NOT NULL, 
    fee NUMERIC(10, 2), 
    status VARCHAR(20) NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(consultation_type_id) REFERENCES consultation_types (id), 
    FOREIGN KEY(doctor_id) REFERENCES doctors (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_appointments_doctor_date ON appointments (doctor_id, date);

UPDATE alembic_version SET version_num='f3a9c2d41b07' WHERE alembic_version.version_num = '002e423e11b1';

-- Running upgrade f3a9c2d41b07 -> 9d4e7b21c8aa

CREATE TABLE therapy_sessions (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    title VARCHAR(150) NOT NULL, 
    session_type VARCHAR(30) NOT NULL, 
    duration_minutes INTEGER NOT NULL, 
    status VARCHAR(20) NOT NULL, 
    pain_before INTEGER, 
    pain_after INTEGER, 
    completed_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_therapy_sessions_user_completed ON therapy_sessions (user_id, completed_at);

UPDATE alembic_version SET version_num='9d4e7b21c8aa' WHERE alembic_version.version_num = 'f3a9c2d41b07';

-- Running upgrade 9d4e7b21c8aa -> b7c1f4e92d35

CREATE TABLE wellness_sessions (
    id SERIAL NOT NULL, 
    key VARCHAR(100) NOT NULL, 
    title VARCHAR(150) NOT NULL, 
    duration_label VARCHAR(30) NOT NULL, 
    icon VARCHAR(20), 
    video_url VARCHAR(500), 
    total_cycles INTEGER NOT NULL, 
    steps JSON NOT NULL, 
    sort_order INTEGER, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (key)
);

CREATE TABLE relief_sessions (
    id SERIAL NOT NULL, 
    key VARCHAR(100) NOT NULL, 
    title VARCHAR(150) NOT NULL, 
    duration_label VARCHAR(30) NOT NULL, 
    icon VARCHAR(20), 
    video_url VARCHAR(500), 
    total_cycles INTEGER NOT NULL, 
    steps JSON NOT NULL, 
    sort_order INTEGER, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (key)
);

UPDATE alembic_version SET version_num='b7c1f4e92d35' WHERE alembic_version.version_num = '9d4e7b21c8aa';

-- Running upgrade b7c1f4e92d35 -> c4d8a61f7b29

ALTER TABLE users ADD COLUMN token_version INTEGER DEFAULT '0' NOT NULL;

UPDATE alembic_version SET version_num='c4d8a61f7b29' WHERE alembic_version.version_num = 'b7c1f4e92d35';

-- Running upgrade c4d8a61f7b29 -> d9e2b53a8c47

CREATE TABLE payments (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    appointment_id INTEGER, 
    amount NUMERIC(10, 2) NOT NULL, 
    currency VARCHAR(10) NOT NULL, 
    provider VARCHAR(30) NOT NULL, 
    order_id VARCHAR(100) NOT NULL, 
    payment_id VARCHAR(100), 
    method VARCHAR(20), 
    status VARCHAR(20) NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(appointment_id) REFERENCES appointments (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    UNIQUE (order_id)
);

ALTER TABLE appointments ADD COLUMN payment_status VARCHAR(20) DEFAULT 'unpaid' NOT NULL;

UPDATE alembic_version SET version_num='d9e2b53a8c47' WHERE alembic_version.version_num = 'c4d8a61f7b29';

-- Running upgrade d9e2b53a8c47 -> e6f3a82d4c91

CREATE TABLE user_preferences (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    push_enabled BOOLEAN NOT NULL, 
    notifications JSON NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    UNIQUE (user_id)
);

UPDATE alembic_version SET version_num='e6f3a82d4c91' WHERE alembic_version.version_num = 'd9e2b53a8c47';

-- Running upgrade e6f3a82d4c91 -> 8f6088286de5

CREATE TABLE video_groups (
    id SERIAL NOT NULL, 
    key VARCHAR(100) NOT NULL, 
    title VARCHAR(150) NOT NULL, 
    description VARCHAR(500) NOT NULL, 
    icon VARCHAR(20), 
    sort_order INTEGER, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    created_by INTEGER NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    updated_by INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (key)
);

CREATE TABLE videos (
    id SERIAL NOT NULL, 
    key VARCHAR(100) NOT NULL, 
    video_group_id INTEGER NOT NULL, 
    title VARCHAR(150) NOT NULL, 
    description VARCHAR(500) NOT NULL, 
    duration INTEGER, 
    icon VARCHAR(20), 
    video_url VARCHAR(500), 
    sort_order INTEGER, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    created_by INTEGER NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    updated_by INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(video_group_id) REFERENCES video_groups (id), 
    UNIQUE (key)
);

ALTER TABLE relief_sessions ADD COLUMN duration VARCHAR(30);

UPDATE relief_sessions SET duration = duration_label;

ALTER TABLE relief_sessions ALTER COLUMN duration SET NOT NULL;

ALTER TABLE relief_sessions DROP COLUMN duration_label;

UPDATE alembic_version SET version_num='8f6088286de5' WHERE alembic_version.version_num = 'e6f3a82d4c91';

-- Running upgrade 8f6088286de5 -> 16c38f75bcb7

CREATE TABLE video_group_mappings (
    id SERIAL NOT NULL, 
    video_group_id INTEGER NOT NULL, 
    video_id INTEGER NOT NULL, 
    sort_order INTEGER, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    created_by INTEGER NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    updated_by INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (id), 
    FOREIGN KEY(updated_by) REFERENCES users (id), 
    FOREIGN KEY(video_group_id) REFERENCES video_groups (id), 
    FOREIGN KEY(video_id) REFERENCES videos (id)
);

ALTER TABLE videos DROP CONSTRAINT videos_video_group_id_fkey;

ALTER TABLE videos DROP COLUMN sort_order;

ALTER TABLE videos DROP COLUMN video_group_id;

UPDATE alembic_version SET version_num='16c38f75bcb7' WHERE alembic_version.version_num = '8f6088286de5';

-- Running upgrade 16c38f75bcb7 -> 73dcd55b16b5

CREATE TABLE chat_questions (
    id SERIAL NOT NULL, 
    question_text VARCHAR(500) NOT NULL, 
    is_start BOOLEAN, 
    created_by INTEGER NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    updated_by INTEGER NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (id), 
    FOREIGN KEY(updated_by) REFERENCES users (id)
);

CREATE TABLE chat_options (
    id SERIAL NOT NULL, 
    question_id INTEGER NOT NULL, 
    option_text VARCHAR(255) NOT NULL, 
    next_question_id INTEGER, 
    video_group_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(next_question_id) REFERENCES chat_questions (id), 
    FOREIGN KEY(question_id) REFERENCES chat_questions (id), 
    FOREIGN KEY(video_group_id) REFERENCES video_groups (id)
);

UPDATE alembic_version SET version_num='73dcd55b16b5' WHERE alembic_version.version_num = '16c38f75bcb7';

-- Running upgrade 73dcd55b16b5 -> 481d7800b3fd

ALTER TABLE video_groups DROP CONSTRAINT video_groups_key_key;

ALTER TABLE video_groups DROP COLUMN key;

ALTER TABLE videos DROP CONSTRAINT videos_key_key;

ALTER TABLE videos DROP COLUMN key;

UPDATE alembic_version SET version_num='481d7800b3fd' WHERE alembic_version.version_num = '73dcd55b16b5';

-- Running upgrade 481d7800b3fd -> 47546d8e3ada

ALTER TABLE quick_reliefs ADD COLUMN chat_question_id INTEGER;

ALTER TABLE quick_reliefs ADD FOREIGN KEY(chat_question_id) REFERENCES chat_questions (id);

UPDATE alembic_version SET version_num='47546d8e3ada' WHERE alembic_version.version_num = '481d7800b3fd';

-- Running upgrade 47546d8e3ada -> b0193b420458

ALTER TABLE wellness_sessions ADD COLUMN duration VARCHAR(30);

ALTER TABLE wellness_sessions ADD COLUMN video_group_id INTEGER;

ALTER TABLE wellness_sessions ADD COLUMN created_by INTEGER;

ALTER TABLE wellness_sessions ADD COLUMN updated_by INTEGER;

UPDATE wellness_sessions SET duration = duration_label;

UPDATE wellness_sessions SET created_by = 1, updated_by = 1 WHERE created_by IS NULL;

ALTER TABLE wellness_sessions ALTER COLUMN duration SET NOT NULL;

ALTER TABLE wellness_sessions ALTER COLUMN created_by SET NOT NULL;

ALTER TABLE wellness_sessions ALTER COLUMN updated_by SET NOT NULL;

ALTER TABLE wellness_sessions ADD FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE wellness_sessions ADD FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE wellness_sessions ADD FOREIGN KEY(video_group_id) REFERENCES video_groups (id);

ALTER TABLE wellness_sessions DROP COLUMN video_url;

ALTER TABLE wellness_sessions DROP COLUMN total_cycles;

ALTER TABLE wellness_sessions DROP COLUMN duration_label;

UPDATE alembic_version SET version_num='b0193b420458' WHERE alembic_version.version_num = '47546d8e3ada';

-- Running upgrade b0193b420458 -> 21eed69bbd76

ALTER TABLE wellness_sessions DROP CONSTRAINT wellness_sessions_key_key;

ALTER TABLE wellness_sessions DROP COLUMN key;

ALTER TABLE wellness_sessions DROP COLUMN steps;

UPDATE alembic_version SET version_num='21eed69bbd76' WHERE alembic_version.version_num = 'b0193b420458';

-- Running upgrade 21eed69bbd76 -> de073083540a

ALTER TABLE wellness_sessions ADD COLUMN key VARCHAR(100);

UPDATE wellness_sessions SET key = 'session_' || id;

ALTER TABLE wellness_sessions ALTER COLUMN key SET NOT NULL;

ALTER TABLE wellness_sessions ADD UNIQUE (key);

UPDATE alembic_version SET version_num='de073083540a' WHERE alembic_version.version_num = '21eed69bbd76';

-- Running upgrade de073083540a -> 130adf908fb0

ALTER TABLE wellness_sessions ADD COLUMN steps JSON;

UPDATE wellness_sessions SET steps = '[]';

ALTER TABLE wellness_sessions ALTER COLUMN steps SET NOT NULL;

UPDATE alembic_version SET version_num='130adf908fb0' WHERE alembic_version.version_num = 'de073083540a';

-- Running upgrade 130adf908fb0 -> 3dd4064aaacb

ALTER TABLE wellness_sessions DROP CONSTRAINT wellness_sessions_key_key;

ALTER TABLE wellness_sessions DROP COLUMN steps;

ALTER TABLE wellness_sessions DROP COLUMN key;

UPDATE alembic_version SET version_num='3dd4064aaacb' WHERE alembic_version.version_num = '130adf908fb0';

-- Running upgrade 3dd4064aaacb -> 856c85ff7105

ALTER TABLE therapy_sessions ADD COLUMN group_id INTEGER NOT NULL;

ALTER TABLE therapy_sessions ADD COLUMN video_id INTEGER NOT NULL;

ALTER TABLE therapy_sessions ADD COLUMN is_active BOOLEAN;

ALTER TABLE therapy_sessions ADD COLUMN created_by INTEGER NOT NULL;

ALTER TABLE therapy_sessions ADD COLUMN modified_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE therapy_sessions ADD COLUMN modified_by INTEGER NOT NULL;

DROP INDEX ix_therapy_sessions_user_completed;

CREATE INDEX ix_therapy_sessions_user_group_video ON therapy_sessions (user_id, group_id, video_id);

ALTER TABLE therapy_sessions ADD FOREIGN KEY(modified_by) REFERENCES users (id);

ALTER TABLE therapy_sessions ADD FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE therapy_sessions ADD FOREIGN KEY(video_id) REFERENCES videos (id);

ALTER TABLE therapy_sessions ADD FOREIGN KEY(group_id) REFERENCES video_groups (id);

ALTER TABLE therapy_sessions DROP COLUMN completed_at;

ALTER TABLE therapy_sessions DROP COLUMN title;

UPDATE alembic_version SET version_num='856c85ff7105' WHERE alembic_version.version_num = '3dd4064aaacb';

-- Running upgrade e6f3a82d4c91 -> b3bec455c884

ALTER TABLE doctor_availability ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE doctor_availability ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE doctor_availability ADD COLUMN created_by INTEGER;

ALTER TABLE doctor_availability ADD COLUMN updated_by INTEGER;

ALTER TABLE doctor_availability ADD COLUMN is_active BOOLEAN;

ALTER TABLE doctor_availability DROP COLUMN is_available;

ALTER TABLE doctors ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE doctors ADD COLUMN created_by INTEGER;

ALTER TABLE doctors ADD COLUMN updated_by INTEGER;

ALTER TABLE doctors ADD COLUMN is_active BOOLEAN;

ALTER TABLE expertise ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE expertise ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE expertise ADD COLUMN created_by INTEGER;

ALTER TABLE expertise ADD COLUMN updated_by INTEGER;

ALTER TABLE expertise ADD COLUMN is_active BOOLEAN;

ALTER TABLE languages ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE languages ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE languages ADD COLUMN created_by INTEGER;

ALTER TABLE languages ADD COLUMN updated_by INTEGER;

ALTER TABLE languages ADD COLUMN is_active BOOLEAN;

ALTER TABLE specialties ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE specialties ADD COLUMN created_by INTEGER;

ALTER TABLE specialties ADD COLUMN updated_by INTEGER;

ALTER TABLE specialties ADD COLUMN is_active BOOLEAN;

INSERT INTO alembic_version (version_num) VALUES ('b3bec455c884') RETURNING alembic_version.version_num;

-- Running upgrade b3bec455c884, 856c85ff7105 -> 881ee87d7d95

DELETE FROM alembic_version WHERE alembic_version.version_num = 'b3bec455c884';

UPDATE alembic_version SET version_num='881ee87d7d95' WHERE alembic_version.version_num = '856c85ff7105';

-- Running upgrade 881ee87d7d95 -> a784ffed457e

ALTER TABLE appointments ADD COLUMN is_active BOOLEAN;

ALTER TABLE appointments ADD COLUMN created_by INTEGER;

ALTER TABLE appointments ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE appointments ADD COLUMN updated_by INTEGER;

ALTER TABLE awards ADD COLUMN is_active BOOLEAN;

ALTER TABLE awards ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE awards ADD COLUMN created_by INTEGER;

ALTER TABLE awards ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE awards ADD COLUMN updated_by INTEGER;

ALTER TABLE chat_options ADD COLUMN is_active BOOLEAN;

ALTER TABLE chat_options ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE chat_options ADD COLUMN created_by INTEGER;

ALTER TABLE chat_options ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE chat_options ADD COLUMN updated_by INTEGER;

ALTER TABLE chat_questions ADD COLUMN is_active BOOLEAN;

ALTER TABLE clinics ADD COLUMN is_active BOOLEAN;

ALTER TABLE clinics ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE clinics ADD COLUMN created_by INTEGER;

ALTER TABLE clinics ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE clinics ADD COLUMN updated_by INTEGER;

ALTER TABLE consultation_types ADD COLUMN is_active BOOLEAN;

ALTER TABLE consultation_types ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE consultation_types ADD COLUMN created_by INTEGER;

ALTER TABLE consultation_types ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE consultation_types ADD COLUMN updated_by INTEGER;

ALTER TABLE payments ADD COLUMN created_by INTEGER;

ALTER TABLE payments ADD COLUMN updated_by INTEGER;

ALTER TABLE payments ADD COLUMN is_active BOOLEAN;

ALTER TABLE quick_reliefs ADD COLUMN created_by INTEGER;

ALTER TABLE quick_reliefs ADD COLUMN updated_by INTEGER;

ALTER TABLE relief_sessions ADD COLUMN created_by INTEGER;

ALTER TABLE relief_sessions ADD COLUMN updated_by INTEGER;

ALTER TABLE user_preferences ADD COLUMN created_by INTEGER;

ALTER TABLE user_preferences ADD COLUMN updated_by INTEGER;

ALTER TABLE user_preferences ADD COLUMN is_active BOOLEAN;

ALTER TABLE users ADD COLUMN created_by INTEGER;

ALTER TABLE users ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE users ADD COLUMN updated_by INTEGER;

ALTER TABLE users ADD COLUMN is_active BOOLEAN;

UPDATE alembic_version SET version_num='a784ffed457e' WHERE alembic_version.version_num = '881ee87d7d95';

-- Running upgrade a784ffed457e -> 158156a61c12

ALTER TABLE therapy_sessions RENAME modified_at TO updated_at;

ALTER TABLE therapy_sessions RENAME modified_by TO updated_by;

UPDATE alembic_version SET version_num='158156a61c12' WHERE alembic_version.version_num = 'a784ffed457e';

-- Running upgrade 158156a61c12 -> 8b98a60fee01

ALTER TABLE "appointments" DROP CONSTRAINT IF EXISTS "appointments_user_id_fkey";

ALTER TABLE "appointments" DROP CONSTRAINT IF EXISTS "appointments_doctor_id_fkey";

ALTER TABLE "appointments" DROP CONSTRAINT IF EXISTS "appointments_consultation_type_id_fkey";

ALTER TABLE "awards" DROP CONSTRAINT IF EXISTS "awards_doctor_id_fkey";

ALTER TABLE "chat_options" DROP CONSTRAINT IF EXISTS "chat_options_question_id_fkey";

ALTER TABLE "chat_options" DROP CONSTRAINT IF EXISTS "chat_options_next_question_id_fkey";

ALTER TABLE "chat_options" DROP CONSTRAINT IF EXISTS "chat_options_video_group_id_fkey";

ALTER TABLE "chat_questions" DROP CONSTRAINT IF EXISTS "chat_questions_created_by_fkey";

ALTER TABLE "chat_questions" DROP CONSTRAINT IF EXISTS "chat_questions_updated_by_fkey";

ALTER TABLE "clinics" DROP CONSTRAINT IF EXISTS "clinics_doctor_id_fkey";

ALTER TABLE "doctor_availability" DROP CONSTRAINT IF EXISTS "doctor_availability_doctor_id_fkey";

ALTER TABLE "doctor_consultation_types" DROP CONSTRAINT IF EXISTS "doctor_consultation_types_consultation_type_id_fkey";

ALTER TABLE "doctor_consultation_types" DROP CONSTRAINT IF EXISTS "doctor_consultation_types_doctor_id_fkey";

ALTER TABLE "doctor_expertise" DROP CONSTRAINT IF EXISTS "doctor_expertise_doctor_id_fkey";

ALTER TABLE "doctor_expertise" DROP CONSTRAINT IF EXISTS "doctor_expertise_expertise_id_fkey";

ALTER TABLE "doctor_languages" DROP CONSTRAINT IF EXISTS "doctor_languages_doctor_id_fkey";

ALTER TABLE "doctor_languages" DROP CONSTRAINT IF EXISTS "doctor_languages_language_id_fkey";

ALTER TABLE "doctors" DROP CONSTRAINT IF EXISTS "doctors_user_id_fkey";

ALTER TABLE "doctors" DROP CONSTRAINT IF EXISTS "doctors_specialty_id_fkey";

ALTER TABLE "payments" DROP CONSTRAINT IF EXISTS "payments_user_id_fkey";

ALTER TABLE "payments" DROP CONSTRAINT IF EXISTS "payments_appointment_id_fkey";

ALTER TABLE "quick_reliefs" DROP CONSTRAINT IF EXISTS "quick_reliefs_chat_question_id_fkey";

ALTER TABLE "therapy_sessions" DROP CONSTRAINT IF EXISTS "therapy_sessions_user_id_fkey";

ALTER TABLE "therapy_sessions" DROP CONSTRAINT IF EXISTS "therapy_sessions_group_id_fkey";

ALTER TABLE "therapy_sessions" DROP CONSTRAINT IF EXISTS "therapy_sessions_video_id_fkey";

ALTER TABLE "therapy_sessions" DROP CONSTRAINT IF EXISTS "therapy_sessions_created_by_fkey";

ALTER TABLE "therapy_sessions" DROP CONSTRAINT IF EXISTS "therapy_sessions_modified_by_fkey";

ALTER TABLE "user_preferences" DROP CONSTRAINT IF EXISTS "user_preferences_user_id_fkey";

ALTER TABLE "video_group_mappings" DROP CONSTRAINT IF EXISTS "video_group_mappings_video_group_id_fkey";

ALTER TABLE "video_group_mappings" DROP CONSTRAINT IF EXISTS "video_group_mappings_video_id_fkey";

ALTER TABLE "video_group_mappings" DROP CONSTRAINT IF EXISTS "video_group_mappings_created_by_fkey";

ALTER TABLE "video_group_mappings" DROP CONSTRAINT IF EXISTS "video_group_mappings_updated_by_fkey";

ALTER TABLE "wellness_sessions" DROP CONSTRAINT IF EXISTS "wellness_sessions_video_group_id_fkey";

ALTER TABLE "wellness_sessions" DROP CONSTRAINT IF EXISTS "wellness_sessions_created_by_fkey";

ALTER TABLE "wellness_sessions" DROP CONSTRAINT IF EXISTS "wellness_sessions_updated_by_fkey";

ALTER TABLE "appointments" DROP CONSTRAINT IF EXISTS "appointments_created_by_fkey";

ALTER TABLE "appointments" DROP CONSTRAINT IF EXISTS "appointments_updated_by_fkey";

ALTER TABLE "awards" DROP CONSTRAINT IF EXISTS "awards_created_by_fkey";

ALTER TABLE "awards" DROP CONSTRAINT IF EXISTS "awards_updated_by_fkey";

ALTER TABLE "clinics" DROP CONSTRAINT IF EXISTS "clinics_created_by_fkey";

ALTER TABLE "clinics" DROP CONSTRAINT IF EXISTS "clinics_updated_by_fkey";

ALTER TABLE "consultation_types" DROP CONSTRAINT IF EXISTS "consultation_types_created_by_fkey";

ALTER TABLE "consultation_types" DROP CONSTRAINT IF EXISTS "consultation_types_updated_by_fkey";

ALTER TABLE "doctor_availability" DROP CONSTRAINT IF EXISTS "doctor_availability_created_by_fkey";

ALTER TABLE "doctor_availability" DROP CONSTRAINT IF EXISTS "doctor_availability_updated_by_fkey";

ALTER TABLE "doctors" DROP CONSTRAINT IF EXISTS "doctors_created_by_fkey";

ALTER TABLE "doctors" DROP CONSTRAINT IF EXISTS "doctors_updated_by_fkey";

ALTER TABLE "expertise" DROP CONSTRAINT IF EXISTS "expertise_created_by_fkey";

ALTER TABLE "expertise" DROP CONSTRAINT IF EXISTS "expertise_updated_by_fkey";

ALTER TABLE "languages" DROP CONSTRAINT IF EXISTS "languages_created_by_fkey";

ALTER TABLE "languages" DROP CONSTRAINT IF EXISTS "languages_updated_by_fkey";

ALTER TABLE "payments" DROP CONSTRAINT IF EXISTS "payments_created_by_fkey";

ALTER TABLE "payments" DROP CONSTRAINT IF EXISTS "payments_updated_by_fkey";

ALTER TABLE "quick_reliefs" DROP CONSTRAINT IF EXISTS "quick_reliefs_created_by_fkey";

ALTER TABLE "quick_reliefs" DROP CONSTRAINT IF EXISTS "quick_reliefs_updated_by_fkey";

ALTER TABLE "relief_sessions" DROP CONSTRAINT IF EXISTS "relief_sessions_created_by_fkey";

ALTER TABLE "relief_sessions" DROP CONSTRAINT IF EXISTS "relief_sessions_updated_by_fkey";

ALTER TABLE "specialties" DROP CONSTRAINT IF EXISTS "specialties_created_by_fkey";

ALTER TABLE "specialties" DROP CONSTRAINT IF EXISTS "specialties_updated_by_fkey";

ALTER TABLE "therapy_sessions" DROP CONSTRAINT IF EXISTS "therapy_sessions_updated_by_fkey";

ALTER TABLE "user_preferences" DROP CONSTRAINT IF EXISTS "user_preferences_created_by_fkey";

ALTER TABLE "user_preferences" DROP CONSTRAINT IF EXISTS "user_preferences_updated_by_fkey";

ALTER TABLE "video_groups" DROP CONSTRAINT IF EXISTS "video_groups_created_by_fkey";

ALTER TABLE "videos" DROP CONSTRAINT IF EXISTS "videos_created_by_fkey";

ALTER TABLE "videos" DROP CONSTRAINT IF EXISTS "videos_updated_by_fkey";

ALTER TABLE "users" DROP CONSTRAINT IF EXISTS "users_created_by_fkey";

ALTER TABLE "users" DROP CONSTRAINT IF EXISTS "users_updated_by_fkey";

ALTER TABLE "appointments" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "appointments" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "awards" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "awards" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "chat_options" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "chat_options" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "chat_questions" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "chat_questions" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "clinics" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "clinics" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "consultation_types" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "consultation_types" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "doctor_availability" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "doctor_availability" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "doctors" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "doctors" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "expertise" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "expertise" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "languages" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "languages" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "payments" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "payments" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "quick_reliefs" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "quick_reliefs" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "relief_sessions" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "relief_sessions" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "specialties" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "specialties" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "therapy_sessions" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "therapy_sessions" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "token_blocklist" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "token_blocklist" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "user_preferences" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "user_preferences" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "users" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "users" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "video_group_mappings" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "video_group_mappings" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "video_groups" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "video_groups" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "videos" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "videos" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "wellness_sessions" ALTER COLUMN "id" TYPE uuid USING (md5("id"::text)::uuid);

ALTER TABLE "wellness_sessions" ALTER COLUMN "id" SET DEFAULT gen_random_uuid();

ALTER TABLE "appointments" ALTER COLUMN "user_id" TYPE uuid USING (md5("user_id"::text)::uuid);

ALTER TABLE "appointments" ALTER COLUMN "doctor_id" TYPE uuid USING (md5("doctor_id"::text)::uuid);

ALTER TABLE "appointments" ALTER COLUMN "consultation_type_id" TYPE uuid USING (md5("consultation_type_id"::text)::uuid);

ALTER TABLE "appointments" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "appointments" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "awards" ALTER COLUMN "doctor_id" TYPE uuid USING (md5("doctor_id"::text)::uuid);

ALTER TABLE "awards" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "awards" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "chat_options" ALTER COLUMN "question_id" TYPE uuid USING (md5("question_id"::text)::uuid);

ALTER TABLE "chat_options" ALTER COLUMN "next_question_id" TYPE uuid USING (md5("next_question_id"::text)::uuid);

ALTER TABLE "chat_options" ALTER COLUMN "video_group_id" TYPE uuid USING (md5("video_group_id"::text)::uuid);

ALTER TABLE "chat_options" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "chat_options" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "chat_questions" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "chat_questions" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "clinics" ALTER COLUMN "doctor_id" TYPE uuid USING (md5("doctor_id"::text)::uuid);

ALTER TABLE "clinics" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "clinics" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "consultation_types" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "consultation_types" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "doctor_availability" ALTER COLUMN "doctor_id" TYPE uuid USING (md5("doctor_id"::text)::uuid);

ALTER TABLE "doctor_availability" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "doctor_availability" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "doctor_consultation_types" ALTER COLUMN "doctor_id" TYPE uuid USING (md5("doctor_id"::text)::uuid);

ALTER TABLE "doctor_consultation_types" ALTER COLUMN "consultation_type_id" TYPE uuid USING (md5("consultation_type_id"::text)::uuid);

ALTER TABLE "doctor_expertise" ALTER COLUMN "doctor_id" TYPE uuid USING (md5("doctor_id"::text)::uuid);

ALTER TABLE "doctor_expertise" ALTER COLUMN "expertise_id" TYPE uuid USING (md5("expertise_id"::text)::uuid);

ALTER TABLE "doctor_languages" ALTER COLUMN "doctor_id" TYPE uuid USING (md5("doctor_id"::text)::uuid);

ALTER TABLE "doctor_languages" ALTER COLUMN "language_id" TYPE uuid USING (md5("language_id"::text)::uuid);

ALTER TABLE "doctors" ALTER COLUMN "user_id" TYPE uuid USING (md5("user_id"::text)::uuid);

ALTER TABLE "doctors" ALTER COLUMN "specialty_id" TYPE uuid USING (md5("specialty_id"::text)::uuid);

ALTER TABLE "doctors" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "doctors" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "expertise" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "expertise" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "languages" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "languages" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "payments" ALTER COLUMN "user_id" TYPE uuid USING (md5("user_id"::text)::uuid);

ALTER TABLE "payments" ALTER COLUMN "appointment_id" TYPE uuid USING (md5("appointment_id"::text)::uuid);

ALTER TABLE "payments" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "payments" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "quick_reliefs" ALTER COLUMN "chat_question_id" TYPE uuid USING (md5("chat_question_id"::text)::uuid);

ALTER TABLE "quick_reliefs" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "quick_reliefs" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "relief_sessions" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "relief_sessions" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "specialties" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "specialties" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "therapy_sessions" ALTER COLUMN "user_id" TYPE uuid USING (md5("user_id"::text)::uuid);

ALTER TABLE "therapy_sessions" ALTER COLUMN "group_id" TYPE uuid USING (md5("group_id"::text)::uuid);

ALTER TABLE "therapy_sessions" ALTER COLUMN "video_id" TYPE uuid USING (md5("video_id"::text)::uuid);

ALTER TABLE "therapy_sessions" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "therapy_sessions" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "user_preferences" ALTER COLUMN "user_id" TYPE uuid USING (md5("user_id"::text)::uuid);

ALTER TABLE "user_preferences" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "user_preferences" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "video_group_mappings" ALTER COLUMN "video_group_id" TYPE uuid USING (md5("video_group_id"::text)::uuid);

ALTER TABLE "video_group_mappings" ALTER COLUMN "video_id" TYPE uuid USING (md5("video_id"::text)::uuid);

ALTER TABLE "video_group_mappings" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "video_group_mappings" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "video_groups" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "video_groups" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "videos" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "videos" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE "wellness_sessions" ALTER COLUMN "video_group_id" TYPE uuid USING (md5("video_group_id"::text)::uuid);

ALTER TABLE "wellness_sessions" ALTER COLUMN "created_by" TYPE uuid USING (md5("created_by"::text)::uuid);

ALTER TABLE "wellness_sessions" ALTER COLUMN "updated_by" TYPE uuid USING (md5("updated_by"::text)::uuid);

ALTER TABLE appointments ADD CONSTRAINT appointments_user_id_fkey FOREIGN KEY(user_id) REFERENCES users (id);

ALTER TABLE appointments ADD CONSTRAINT appointments_doctor_id_fkey FOREIGN KEY(doctor_id) REFERENCES doctors (id);

ALTER TABLE appointments ADD CONSTRAINT appointments_consultation_type_id_fkey FOREIGN KEY(consultation_type_id) REFERENCES consultation_types (id);

ALTER TABLE appointments ADD CONSTRAINT appointments_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE appointments ADD CONSTRAINT appointments_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE awards ADD CONSTRAINT awards_doctor_id_fkey FOREIGN KEY(doctor_id) REFERENCES doctors (id);

ALTER TABLE awards ADD CONSTRAINT awards_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE awards ADD CONSTRAINT awards_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE chat_options ADD CONSTRAINT chat_options_question_id_fkey FOREIGN KEY(question_id) REFERENCES chat_questions (id);

ALTER TABLE chat_options ADD CONSTRAINT chat_options_next_question_id_fkey FOREIGN KEY(next_question_id) REFERENCES chat_questions (id);

ALTER TABLE chat_options ADD CONSTRAINT chat_options_video_group_id_fkey FOREIGN KEY(video_group_id) REFERENCES video_groups (id);

ALTER TABLE chat_options ADD CONSTRAINT chat_options_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE chat_options ADD CONSTRAINT chat_options_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE chat_questions ADD CONSTRAINT chat_questions_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE chat_questions ADD CONSTRAINT chat_questions_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE clinics ADD CONSTRAINT clinics_doctor_id_fkey FOREIGN KEY(doctor_id) REFERENCES doctors (id);

ALTER TABLE clinics ADD CONSTRAINT clinics_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE clinics ADD CONSTRAINT clinics_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE consultation_types ADD CONSTRAINT consultation_types_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE consultation_types ADD CONSTRAINT consultation_types_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE doctor_availability ADD CONSTRAINT doctor_availability_doctor_id_fkey FOREIGN KEY(doctor_id) REFERENCES doctors (id);

ALTER TABLE doctor_availability ADD CONSTRAINT doctor_availability_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE doctor_availability ADD CONSTRAINT doctor_availability_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE doctor_consultation_types ADD CONSTRAINT doctor_consultation_types_consultation_type_id_fkey FOREIGN KEY(consultation_type_id) REFERENCES consultation_types (id);

ALTER TABLE doctor_consultation_types ADD CONSTRAINT doctor_consultation_types_doctor_id_fkey FOREIGN KEY(doctor_id) REFERENCES doctors (id);

ALTER TABLE doctor_expertise ADD CONSTRAINT doctor_expertise_doctor_id_fkey FOREIGN KEY(doctor_id) REFERENCES doctors (id);

ALTER TABLE doctor_expertise ADD CONSTRAINT doctor_expertise_expertise_id_fkey FOREIGN KEY(expertise_id) REFERENCES expertise (id);

ALTER TABLE doctor_languages ADD CONSTRAINT doctor_languages_doctor_id_fkey FOREIGN KEY(doctor_id) REFERENCES doctors (id);

ALTER TABLE doctor_languages ADD CONSTRAINT doctor_languages_language_id_fkey FOREIGN KEY(language_id) REFERENCES languages (id);

ALTER TABLE doctors ADD CONSTRAINT doctors_user_id_fkey FOREIGN KEY(user_id) REFERENCES users (id);

ALTER TABLE doctors ADD CONSTRAINT doctors_specialty_id_fkey FOREIGN KEY(specialty_id) REFERENCES specialties (id);

ALTER TABLE doctors ADD CONSTRAINT doctors_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE doctors ADD CONSTRAINT doctors_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE expertise ADD CONSTRAINT expertise_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE expertise ADD CONSTRAINT expertise_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE languages ADD CONSTRAINT languages_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE languages ADD CONSTRAINT languages_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE payments ADD CONSTRAINT payments_user_id_fkey FOREIGN KEY(user_id) REFERENCES users (id);

ALTER TABLE payments ADD CONSTRAINT payments_appointment_id_fkey FOREIGN KEY(appointment_id) REFERENCES appointments (id);

ALTER TABLE payments ADD CONSTRAINT payments_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE payments ADD CONSTRAINT payments_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE quick_reliefs ADD CONSTRAINT quick_reliefs_chat_question_id_fkey FOREIGN KEY(chat_question_id) REFERENCES chat_questions (id);

ALTER TABLE quick_reliefs ADD CONSTRAINT quick_reliefs_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE quick_reliefs ADD CONSTRAINT quick_reliefs_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE relief_sessions ADD CONSTRAINT relief_sessions_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE relief_sessions ADD CONSTRAINT relief_sessions_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE specialties ADD CONSTRAINT specialties_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE specialties ADD CONSTRAINT specialties_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE therapy_sessions ADD CONSTRAINT therapy_sessions_user_id_fkey FOREIGN KEY(user_id) REFERENCES users (id);

ALTER TABLE therapy_sessions ADD CONSTRAINT therapy_sessions_group_id_fkey FOREIGN KEY(group_id) REFERENCES video_groups (id);

ALTER TABLE therapy_sessions ADD CONSTRAINT therapy_sessions_video_id_fkey FOREIGN KEY(video_id) REFERENCES videos (id);

ALTER TABLE therapy_sessions ADD CONSTRAINT therapy_sessions_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE therapy_sessions ADD CONSTRAINT therapy_sessions_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE user_preferences ADD CONSTRAINT user_preferences_user_id_fkey FOREIGN KEY(user_id) REFERENCES users (id);

ALTER TABLE user_preferences ADD CONSTRAINT user_preferences_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE user_preferences ADD CONSTRAINT user_preferences_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE video_group_mappings ADD CONSTRAINT video_group_mappings_video_group_id_fkey FOREIGN KEY(video_group_id) REFERENCES video_groups (id);

ALTER TABLE video_group_mappings ADD CONSTRAINT video_group_mappings_video_id_fkey FOREIGN KEY(video_id) REFERENCES videos (id);

ALTER TABLE video_group_mappings ADD CONSTRAINT video_group_mappings_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE video_group_mappings ADD CONSTRAINT video_group_mappings_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE video_groups ADD CONSTRAINT video_groups_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE video_groups ADD CONSTRAINT video_groups_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE videos ADD CONSTRAINT videos_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE videos ADD CONSTRAINT videos_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE wellness_sessions ADD CONSTRAINT wellness_sessions_video_group_id_fkey FOREIGN KEY(video_group_id) REFERENCES video_groups (id);

ALTER TABLE wellness_sessions ADD CONSTRAINT wellness_sessions_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE wellness_sessions ADD CONSTRAINT wellness_sessions_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

ALTER TABLE users ADD CONSTRAINT users_created_by_fkey FOREIGN KEY(created_by) REFERENCES users (id);

ALTER TABLE users ADD CONSTRAINT users_updated_by_fkey FOREIGN KEY(updated_by) REFERENCES users (id);

UPDATE alembic_version SET version_num='8b98a60fee01' WHERE alembic_version.version_num = '158156a61c12';

COMMIT;

